

.App {
  text-align: center;
}
/* style for button tag */
button{
  background-color: rgb(255, 61, 47);
  border: none;
  text-align: center;
  width: 15vh;
  height: 5vh;
  border-radius: 5%;
}
/* style for X {hidebtn} */
.hidebtn{
  position: absolute;
  width: 49px;
  height: 36px;
  border: none;
  background-color: rgb(229, 224, 234);
  margin-top: -93px;
  margin-left: 80px;
}
.hidebtn:hover{
  background-color: rgb(14, 194, 38);
  width: 10vh;
  height: 5vh;
}

@media (max-width: 414px){
  .btn{
    position: absolute;
    margin-top: -108px;
    margin-left: 93px;

  }
}
@media (max-width: 280px) {
  .btn{
    margin-top: -86px;
    margin-left: 81px;
  } 
  
}
@media screen and (max-width:820px) {
  .hidebtn {
    position: absolute;
    width: 44px;
    height: 33px;
    border: none;
    background-color: rgb(229, 224, 234);
    margin-top: -87px;
    margin-left: 66px;
  }
}
@media  screen and (max-width: 450px) {
  .hidebtn{
    position: absolute;
    width: 46px;
    height: 38px;
    border: none;
    background-color: rgb(229, 224, 234);
    margin-top: -90px;
    margin-left: 79px;
  }
  
}
