/* style form */
form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px;
    width: 45vh;
    height: 40vh;
    flex-direction: column;
    margin: 30px auto;
    background-color: #9a64ec;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
input {
    font-size: 1em;
    height: 3rem;
    width: 18rem;
    border: none;
    box-sizing: border-box;
    outline: none;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
    color: rgb(6, 6, 6);
}

  .addbutton{
    background-color: rgb(255, 61, 47);
    border: none;
    text-align: center;
    width: 15vh;
    height: 5vh;
    border-radius: 5%;

  }
  button:hover{
    background-color: greenyellow;
    width: 18vh;
    height: 6vh;
    border-radius: 5%;
  }
  